name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout repository
    - name: Checkout Code
      uses: actions/checkout@v4

    # Step 2: Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Step 3: Build Docker Image
    - name: Build Docker Image
      run: |
        docker build -t gowrishankar0o/simple-html-app:latest .

    # Step 4: Push Docker Image
    - name: Push Docker Image
      run: |
        docker push gowrishankar0o/simple-html-app:latest

    # Step 5: SSH into EC2 and Deploy
    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          echo "Stopping old container..."
          sudo docker stop myapp || true

          echo "Removing old container..."
          sudo docker rm myapp || true

          echo "Pulling latest image..."
          sudo docker pull gowrishankar0o/simple-html-app:latest

          echo "Starting new container..."
          sudo docker run -d \
            -p 80:80 \
            --restart always \
            --name myapp \
            gowrishankar0o/simple-html-app:latest

          echo "Deployment successful!"
